.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(179, 179, 179, 0.514);
  align-items: center;
  justify-content: center;
}

.modal-img{
    max-width: 90vw;
    height: 100%;
    object-fit: contain;
    background-color: #ffffffbd;
}

.close {
  position: absolute;
  top: -35px;
  right: 20px;
  font-size: 6rem;
  color: #000;
  cursor: pointer;
  z-index: 1001;
}

@media (min-width:1024px) {
  .modal > div{
    height: 100vh;
}
}